[submodule "data/analyzer"]
	path = data/analyzer
	url = https://github.com/Ryuchen/Panda-Sandbox-Analyzer.git
[submodule "plugins"]
	path = plugins
	url = https://github.com/Ryuchen/Panda-Sandbox-Plugins.git
[submodule "web"]
	path = web
	url = https://github.com/Ryuchen/Panda-Sandbox-Web.git
